

  img{
    transform: scale(1.1);
  }
#logo {
    height: 150px;
    margin-left: 61.25px;
}

h1 {
    font-size: 14px;
    margin-left: 50px;
}

input {
    height: 30px;
    width: 270px;
    margin-top: 20px;
    margin-left: 20px;
}

#buscar {
    margin-left: 300px;
    margin-top: -25px;
}

#buscar img {
    height: 20px;
}

.notificaciones{
    margin-left: 100px;
}
.notificaciones img{
    height: 40px;
    margin-top: 20px;
    
}

nav {
    margin-top: 50px;
    margin-left: 22px;
}

nav img {
    height: 50px;
}

main {
    margin-top: 100px;

}

main img {
    height: 150px;
    margin-top: 50px;
    margin-left: 75px;


}

main p {
    margin-left: 110px;
    margin-top: 5px;
    font-size: 16px;

}

a {
    text-decoration: none;
    color: black;

}

footer {
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 20px;

}

footer p {
    font-size: 12px;
}

footer img {
    height: 40px;
}




@media screen and (min-width: 600px) {

    #logo {
        height: 150px;
        margin-left: 180px;
    }
    
    h1 {
        margin-top: 30px;
        font-size: 14px;
        margin-left: 180px;
    }
    
    input {
        height: 30px;
        width: 400px;
        margin-top: 20px;
        margin-left: 70px;
        padding-left: 10px;
    }
    
    #buscar {
       margin-left: 500px;
    }

    .notificaciones{
        margin-left: 200px;
    }

    nav {
        margin-top: 80px;
        margin-left: 10px;
    }
    
    nav img {
        height: 100px;
    }
    
    main {
        margin-top: 100px;
    
    }
    
    main img {
        height: 300px;
        margin-top: 100px;
        margin-left: 130px;
    
    
    }
    
    main p {
        margin-left: 240px;
        margin-top: 15px;
        font-size: 20px;
    
    }
    
    a {
        text-decoration: none;
        color: black;
    
    }
    
    footer {
        margin-top: 110px;
        margin-left: 120px;
        margin-bottom: 20px;
    
    }
    
    footer p {
        font-size: 20px;
    }
    
    footer img {
        height: 70px;
    }
    
}

@media screen and (max-width:340px) {

    #logo {
        height: 100px;
        margin-left: 0px;
    }
    
    h1 {
        font-size: 14px;
        margin-left: 10px;
    }
    
    input {
        height: 20px;
        width: 110px;
        margin-top: 20px;
        margin-left: 0px;
    }


    #buscar{
        margin-top: 10px;
        margin-left: 50px;
    }

    .notificaciones{
        margin-left: 0px;
    
    }
    .notificaciones img{
        height: 40px;
    }
    
    nav {
        margin-top: 50px;
        margin-left: 22px;
    }
    
    nav img {
        height: 50px;
    }
    
    main {
        margin-top: 100px;
    
    }
    
    main img {
        height: 100px;
        margin-top: 50px;
        margin-left: 0px;
    
    
    }
    
    main p {
        margin-left: 20px;
        margin-top: 5px;
        font-size: 16px;
    
    }
    
    a {
        text-decoration: none;
        color: black;
    
    }
    
    footer {
        margin-top: 80px;
        margin-left: 10px;
        margin-bottom: 20px;
    
    }
    
    footer p {
        font-size: 12px;
    }
    
    footer img {
        height: 20px;
    }
    
}

@media screen and (min-width: 900px) {

    #logo {
        height: 180px;
        margin-left: 300px;
    }
    
    h1 {
        margin-top: 60px;
        font-size: 20px;
        margin-left: 280px;
    }
    
    input {
        border-radius: 10px;
        height: 40px;
        width: 600px;
        margin-top: 60px;
        margin-left: 150px;
        padding-left: 20px;
    }
  
    #buscar {
        margin-top: -30px;
       margin-left: 730px;
    }

    .notificaciones{
        margin-top: 50px;
        margin-left: 300px;
    }
    .notificaciones img{
        height: 60px;
    }
    
    nav {
        margin-top: 130px;
        margin-left: 120px;
    }
    
    nav img {
        height: 120px;
    }
    
    main {
        margin-top: 100px;
    
    }
    
    main img {
        height: 400px;
        margin-top: 130px;
        margin-left: 230px;
    
    
    }
    
    main p {
        margin-left: 360px;
        margin-top: 15px;
        font-size: 30px;
    
    }
    
    a {
        text-decoration: none;
        color: black;
    
    }
    
    footer {
        margin-top: 200px;
        margin-left: 260px;
        margin-bottom: 20px;
    
    }
    
    footer p {
        font-size: 25px;
    }
    
    footer img {
        height:80px;
    }
    
}

@media screen and (min-width: 1000px) {
    
img:hover {
transform: scale(1.2);
transition: transform 0.3s ease-in-out;
}



 section{
    display: grid;
    grid-template-columns: repeat(5,auto);
 }

 #logo{
    margin-left: 0px;
 }

 h1{
    width: 100%;
    margin-left: 50px;
 }
input{
    width: 500px;
    margin-left: 0px;
    margin-top: 150px;
}
#buscar{
    margin-left: 10px
}
#buscar img{
    margin-top: 195px;
    margin-left: -40px;
}

.notificaciones{
    margin: 0px;
}
 nav {
    margin-top: 130px;
    margin-left: 220px;
}

nav img {
    margin-right: 50px;
    height: 150px;
    margin-top: 30px;
}

main {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(6,auto);
    margin-top: 300px;
    justify-items: center;
    gap: 80px;

}


main img {

    height: 250px;
    margin-top: 0px;
    margin-left: 0px;


}

#gold{
    grid-column-start: 1;
    grid-row-end: 1;
    
}

#iso{
    grid-column-start: 2;
    grid-row-end: 1;
}
#isolated{
    grid-column-start: 3;
    grid-row-end: 1;
}

#cell{
    grid-column-start: 1;
    grid-row-end: 3;
}

#aminox{
    grid-column-start: 2;
    grid-row-end: 3;
}

#nitro{
    grid-column-start: 3;
    grid-row-end: 3;
    
}

#max{
    grid-column-start: 1;
    grid-row-end: 5;
}

#crea{
    grid-column-start: 2;
    grid-row-end: 5;
}

#mega{
    grid-column-start: 3;
    grid-row-end: 5;
}


main p {
    margin-left: 0px;
    margin-top: 15px;
    font-size: 30px;

}



a {
    text-decoration: none;
    color: black;

}

footer {
    margin-top: 200px;
    margin-left: 560px;
    margin-bottom: 20px;

}

footer p {
    font-size: 30px;
}

footer img {
    height:80px;
}
 

}

.membresy{
    margin-left: 500px;

}

.membresy img{
    margin-right: 50px;
}