html{
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
}

.container{
    text-align: center;
}

#logo{
    height: 100px;
}

h1{
    font-size: 16px;
    margin-top: 20px;
    
}

#protein-search{
    margin-top: 30px;
    height: 30px;
    width: 80%;
}

#buscar img{
    height: 20px;
    margin-top: 20px;
   
}

.notificaciones img{
    height: 30px;
    margin-right: 5px;
    
}

.notificaciones{
    margin-top: 30px;

}

nav{
    margin-top: 30px;
}
nav img{
    margin-top: 30px;
    height: 100px;
    border-radius: 30px;

}

main{
    margin-top: 100px;
}
main img{
    height: 125px;
    margin-top: 30px;

}
a{ 
    text-decoration: none;
    color: black;
}

main p{
    font-size: 12px;
}

footer{
    margin-top: 100px;
}

footer p{
    font-size: 10px;
    margin-left: 10px;
}
footer img{
    height: 27px;
}


@media screen and (min-width: 520px){  
    #logo{
        height: 150px;
    }
    
    #protein-search{
        margin-top: 30px;
        height: 30px;
        width: 400px;
    }
    
    #buscar img{
        height: 30px;
        margin-top: 15px;
       
    }
    
    .notificaciones img{
        height: 60px;
        margin-right: 30px;
        
    }
    
    .notificaciones{
        margin-top: 30px;
    
    }

    nav{
        margin-top: 100px;
    }
    
    nav img{
        margin-top: 0px;
        height: 100px;
        border-radius: 30px;
    
    }
    
    main{
        margin-top: 100px;
    }
    main img{
        height: 250px;
        margin-top: 30px;
    
    }
    a{ 
        text-decoration: none;
        color: black;
    }
    
    main p{
        font-size: 20px;
    }
    
    footer{
        margin-top: 100px;
    }
    
    footer p{
        font-size: 16px;
        margin-left: 10px;
    }
    footer img{
        height: 50px;
    }
    
}

@media screen and (min-width: 1200px){  
.container{
    text-align: center;
}
    section{
        text-align:start;
        margin-left: 200px;
    }
    #logo{
        height: 170px;
    }
    h1{
        margin-left: 450px;
        margin-top: -100px;
        width: 400px;
    }
    
    #protein-search{
        margin-left: 400px;
        height: 40px;
        width: 500px;
    }

    #buscar{
        margin-left: 920px;
        margin-top: -50px;
    }
    
    #buscar img{
        height: 30px;
       
    }
    
    .notificaciones img{
        height: 60px;
        margin-right: 0px;
        
    }
    
    .notificaciones{
        margin-top: -150px;
        margin-left: 1000px;
    
    }

    nav{
        margin-top: 300px;
    
        
    }
    
    nav img{
        margin-top: 0px;
        height: 200px;
        border-radius: 30px;
    
    }
    
    main{
        margin-top: 200px;
    
      
    }
    main img{
        height: 450px;
        margin-top: 200px;
    
    }
    a{ 
        text-decoration: none;
        color: black;
    }
    
    main p{
        font-size: 25px;
    }
    
    footer{
        margin-top: 200px;
    }
    
    footer p{
        font-size: 20px;
        margin-left: 20px;
    }
    footer img{
        height:  80px;

    }
    img:hover {
        transform: scale(1.1); /* Hace zoom al 110% de su tamaño original */
        filter: brightness(110%); /* Aumenta el brillo en un 10% */
        transition: transform 0.3s ease, filter 0.3s ease; /* Agrega una transición suave */
      }
    
}

