*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

p{
    font-size: 2rem;
}

header{
    display: grid;
    grid-template-columns:repeat(6,1fr);
}

header input{
    width: 400px;
    height: 30px;
}

#search{
    height: 30px;
}


